////////////////////////////////////////
//width
////////////////////////////////////////
.l-w50-center{
    max-width: 50%;
    margin: 0 auto;
}

////////////////////////////////////////
//form
////////////////////////////////////////
.l-form{
    max-width: 700px;
    margin: 0 auto;
    &-error{
        max-width: 700px;
        margin: 0 auto;
    }
}
